@font-face {
    font-family: "Roboto Black";
    src: url("fonts/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
  }
  
  body {
    overflow: hidden;
    margin: 0;
  }
  
  #app,
  #app * {
    will-change: transform, opacity;
  
    font-family: "Courier New";
    font-size: 14px;
    font-kerning: none;
    line-height: 16px;
    /* user-select: none; */
    outline: 1px dotted lightgray;
  
    position: absolute;
  }
  
  #app * {
    transition: all ease-in-out 200ms, width ease-in-out 0ms;
    overflow: hidden;
  }